/*------------------------------------------------------------------------------
 - ESTILO GENERAL
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LINK
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LABEL
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA INPUT
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA TEXTAREA
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
button{
    margin-right: 5px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA BUTTON
 -----------------------------------------------------------------------------*/
select{
    margin-top: 0;

}

/*------------------------------------------------------------------------------
 - ESTILOS PARA FORMULARIO FIELDSET
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL LISTADO DE CATEGORIAS
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL HEADER
 -----------------------------------------------------------------------------*/
.header_slider{
    margin-top: -22px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA EL MENU
 -----------------------------------------------------------------------------*/
ul.menu-header{
    margin: -23px 0 0 10px;
}
ul.menu{
    margin: -13px 0 0 16px;
}


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL CONTAINER
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL FOOTER
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA EL SIDEBAR
 -----------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLAS (general)
 -----------------------------------------------------------------------------*/
.table{
    margin-top: 40px;
}

/*------------------------------------------------------------------------------
 - ESTILOS PARA LA TABLA "OBRAS"
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LA TABLA "PRODUCTS"
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLA (pages)
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA TABLA (CATEGORIAS)
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA FORM CONTACT
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA GALERIA DE FOTOS DE OBRAS
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA GALERIA DE FOTOS DE PRODUCTOS
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA GALERIA DE FOTOS PARA (OBRAS PANEL)
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA LA SECCION PRODUCTOS
 -----------------------------------------------------------------------------*/


/*------------------------------------------------------------------------------
 - ESTILOS PARA LA SECCION EMPRESA
 -----------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
 - ESTILOS PARA LA SECCION EMPRESA
 -----------------------------------------------------------------------------*/
